.habitListTitle {
  text-align: center;
}

.list {
  width: 200px;
  position: fixed;
  top: 60px;
  bottom: 10px;
  box-shadow: 0 2px 2px 1px gray;
  /*background-color: whitesmoke;*/
}

.item {
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: fantasy;
  font-weight: 100;
}
.item:hover {
  text-shadow: 2px 4px 10px gray;
  cursor: pointer;
}

.addHabit {
  font-size: 1.2em;
}