button {
  background-color: transparent;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

input, textarea {
  outline: none;
}

select {
  outline: none;
  text-align-last: center;
}